# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/src/main/resources/applicationContext.xml
/Blog.iml
/detection.iml
/.idea/
/src/main/webapp/WEB-INF/classes/
target/detection/META-INF/
target/detection/WEB-INF/classes/applicationContext.xml
target/detection/WEB-INF/classes/com/java1234/mappers/
target/detection/WEB-INF/classes/log4j.properties
target/detection/WEB-INF/classes/mybatis-config.xml
target/detection/WEB-INF/classes/spring-mvc.xml
target/detection/WEB-INF/lib/
target/detection/WEB-INF/web.xml
target/detection/a.jsp
target/detection/admin/
target/detection/app.jsp
target/detection/favicon.ico
target/detection/foreground/
target/detection/image.jsp
target/detection/login.jsp
target/detection/mainTemp.jsp
target/detection/static/
target/generated-sources/
